<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getallfromcosmos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/91a16a5c-b2ea-4838-8a40-7ace91c0f22f/resourcegroups/iot20/providers/Microsoft.Web/sites/GetAllFromCosmos</ResourceId>
    <UserName>$GetAllFromCosmos</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://getallfromcosmos.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>